{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
        <div class="login100-form validate-form">
          {% if validlink %}
          <form method="post">
              {% csrf_token %}
              <span class="login100-form-title p-b-43">
                  Change your password
              </span>
              <div class="wrap-input100 validate-input">
                  {{ form.new_password1 }}
                <span class="focus-input100"></span>
                <span class="label-input100">New password</span>
              </div>
              <div class="wrap-input100 validate-input">
                  {{ form.new_password2 }}
                <span class="focus-input100"></span>
                <span class="label-input100">New password confirmation</span>
              </div>
              <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    Change password
                </button>
              </div>
            </form>
        {% else %}
        <div class="text-shadow-normal">
          <h2>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
          </h2>
        </div>
        {% endif %}
      </div>
        <div class="login100-more" style="background-image: url('/static/Images/bg-01.jpg');">
				</div>
      </div>
  </div>
</div>
{% endblock %}