{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
      <div class="login100-form validate-form">
        <div class="text-shadow-normal">
          <h2>
            Your password has been set. You may go ahead and <a href="{% url 'accounts:login' %}">sign in</a> now.
          </h2>
        </div>     
      </div>
      <div class="login100-more" style="background-image: url('/static/Images/bg-01.jpg');"></div>
    </div>
  </div>
</div>
{% endblock %}