{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
      <div class="login100-form validate-form">
        <div class="text-shadow-normal">
          <h2>
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
          </h2>
          <h2>
              If you don't receive an email, please make sure you've entered the address you registered with,
              and check your spam folder.
          </h2>
        </div>
      </div>
      <div class="login100-more" style="background-image: url('/static/Images/bg-01.jpg');"></div>
    </div>
  </div>
</div>
{% endblock %}