{% extends "accounts/accounts.html" %}
{% load static %}
{% block content %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
      <div class="login100-form validate-form">
        <div class="text-shadow-normal">
          <h2>
            Thanks for joining us. we send email to your email address please activate your account to login
          </h2>
        </div>     
      </div>
      <div class="login100-more" style="background-image: url('/static/Images/bg-01.jpg');"></div>
    </div>
  </div>
</div>
{% endblock %}