{% load static %}
<script src="{% static "/angular/angular.js" %}" type="text/javascript"></script>
<script src="{% static "/angular/custom-angular.js" %}" type="text/javascript"></script>

<div ng-app="myApp" ng-controller="myCtrl"> 

        <p>Today's welcome message is:</p>
        
        <h1>{{myWelcome}}</h1>
        
        </div>
        
        
        <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
          
              $scope.myWelcome = "shadmaan";
         
        });
        </script>

      