{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
    <div class="box box-success">
        <div class="custom-container">
            <div class="row">
                <div class="col-sm-12 shadow" style="box-shadow:0px 0px 5px 0px">
                    <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}"> {{ form.url.label }}</label>
                        <div>{{form.url}}</div> 
                    </div>
                    <div class="form-group">
                        <label for="{{ form.last_name.id_for_label }}"> {{ form.element.label }}</label>
                        <div>{{form.element}}</div> 
                    </div>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-block btn-info btn-flat" value="Parse"/>
                    </div>
                    </form>
                </div>
            </div>  
        </div>    
    </div>
</div>
<script>
    $('input').addClass('form-control');
</script>
{% endblock %}

